#board {
  background-color: #444;
  width: 62rem;
  border-radius: 2.5rem;
  margin-block-start: 3vh;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  box-shadow: 0 5px 0 0 #666, 0 6px 15px 3px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100rem;
  color: #fff;
  background-color: inherit;
  margin: 0.25rem;
  font-size: 1rem;
  line-height: 1.4;
  box-sizing: border-box;
  border: 0;
  box-shadow: 0 1px 2px 1px #000, inset 0 1px 1px 0 #666;
  cursor: pointer;
  outline: none;
  user-select: none;
  position: relative;
  font-family: "Quicksand", sans-serif;
}

button svg {
  vertical-align: middle;
}

button:active,
.button_active,
button:active .bulb,
.button_active .bulb {
  box-shadow: inset 0 1px 2px 0 #000, 0 1px 1px 0 #666;
}

button.text {
  font-size: 0.8rem;
}

button.yellow {
  background-color: #ffd600;
  box-shadow: 0 1px 2px 1px #000, inset 0 1px 1px 0 #ffff8d;
  color: #444;
}

button.yellow:active {
  box-shadow: inset 0 0.5px 2px 1px #000, 0 1px 1px 0 #888;
}

button[data-small]:after {
  content: attr(data-small);
  position: absolute;
  bottom: 0.1rem;
  right: 0.5rem;
  font-size: 0.5rem;
  font-weight: 500;
}

.function button {
  height: 1.8rem;
}

.arrows {
  margin: 0.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrows .row {
  justify-content: center;
}

.arrow {
  height: 1.6rem;
  margin: 0 0.25rem;

  &_left {
    background: no-repeat center url("../assets/left.svg");
    background-size: contain;
  }

  &_up {
    background: no-repeat center url("../assets/up.svg");
    background-size: contain;
  }

  &_down {
    background: no-repeat center url("../assets/down.svg");
    background-size: contain;
  }

  &_right {
    background: no-repeat center url("../assets/right.svg");
    background-size: contain;
  }
}

.left {
  text-align: left;
  padding-left: 1.5em;
}

.right {
  text-align: right;
  padding-right: 1.5em;
}

.flex_1 {
  flex: 1;
}

.caps {
  position: relative;
  transition: 0.2s;

  & > span {
    position: absolute;
    top: 50%;
    right: 12%;
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(30, 41, 27);
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }

  &_active > span {
    background: radial-gradient(
      circle,
      rgba(66, 125, 58, 1) 43%,
      rgba(41, 60, 38, 1) 100%
    );
  }
}
