.not-only__container {
  @include flex($align: center);
  gap: 42px;
  margin-bottom: -2.45px;

  @include media-tablet {
    @include flex($align: center, $flex-direction: column);
    gap: 0;
  }
}

.not-only__column {
  &_1 {
    width: min(93.75vw, 460px);
    margin-bottom: 80px;

    @include media-tablet {
      @include flex($flex-direction: column);
      margin-bottom: 100px;
    }

    @include media-mobile {
      width: min(93.75vw, 400px);
      margin-bottom: 105px;
      align-items: center;
    }
  }

  &_2 {
    width: min(54.6vw, 698px);

    @include media-tablet {
      width: min(74.1vw, 569px);
      align-self: flex-end;
    }

    @include media-mobile {
      width: min(81.25vw, 260px);
    }
  }
}

.not-only__img {
  width: 100%;
}

.not-only__title,
.not-only__text {
  color: $color-titles-on-background-dark;
  margin-bottom: 42px;

  @include media-mobile {
    text-align: center;
  }
}

.not-only__title {
  max-width: 310px;

  @include media-mobile {
    max-width: 240px;
    @include font(2.5rem, 3.25rem, 0.16rem);
  }
}

.not-only__link {
  margin: 0;

  @include media-tablet {
    display: inline-block;
    align-self: center;
  }
}
