.textarea {
  font-size: 1.7rem;
  width: 62rem;
  height: 22rem;
  padding: 1rem;
  color: #666666;
  background-color: white;
  border: 3px solid #333333;
  border-radius: 2.5rem;
  outline: none;
  resize: none;
  transition: all 0.2s;
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.textarea:focus {
  cursor: text;
  color: #333333;
}

textarea::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #d3d3d3;
  margin-block: 1.8rem;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 5px;
}
