.textarea {
  width: 62rem;
  height: 20rem;
  background-color: white;
  color: #666666;
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid #333333;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.4;
  resize: none;
  transition: all 0.2s;
  text-align: justify;
  white-space: normal;
  /* hyphens: auto; */
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.textarea:focus {
  cursor: text;
  color: #333333;
  // border-color: #333333;
}

textarea::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #d3d3d3;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 5px;
}
