$nav-width: 320px;

.nav {
  // Todo @media Mobile _______________
  @include media-mobile {
    @include flex($justify: center, $align: center);
    position: fixed;
    right: -$nav-width;
    top: 0;
    width: $nav-width;
    height: 100vh;
    background-color: $color-background-burger;
    z-index: 3;
    @include animation();

    &._active {
      transform: translate(-100%);
    }
  }
}

.nav__list {
  display: flex;

  // Todo @media Mobile _______________
  @include media-mobile {
    flex-direction: column;
    row-gap: 34px;
  }
}

.nav__elem {
  padding-left: 36px;
  margin-bottom: 3px;

  &_active {
    .nav__link {
      color: $color-links-hover;
    }

    .nav__link::before {
      opacity: 1;
    }
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    padding-left: 0;
    @include flex($justify: center);
  }
}

.nav__link {
  position: relative;
  color: $color-links;
  @include animation();

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    bottom: -3px;
    opacity: 0;
    border-radius: 2px;
    background-color: $color-primary;
    @include animation();
  }

  &:hover {
    color: $color-links-hover;
  }

  &:hover::before {
    opacity: 1;
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    @include font(3.2rem, 5.1rem, 0rem);
  }
}
