.popup-blackout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-background-blackout;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  @include animation();
}

.popup-blackout._open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  @include flex($justify: center, $align: center);
}

.popup__close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.7s ease-out;
}

.popup__content {
  position: relative;
  @include flex($justify: space-between, $align: center);
  max-width: 900px;
  height: fit-content;
  background-color: $color-background-cards;
  border-radius: 9px;
  cursor: default;
  z-index: 100;

  // * @media Tablet __________________
  @include media-tablet {
    max-width: 630px;
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    justify-content: center;
    max-width: 420px;
  }
}

.popup__link {
  &_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.popup-btn__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(80%, -120%);
}

.popup__column {
  &_1 {
    border-radius: 9px;
    height: auto;
    width: min(39vw, 500px);

    // * @media Tablet __________________
    @include media-tablet {
      width: min(45.6vw, 350px);
    }

    // Todo @media Mobile _______________
    @include media-mobile {
      display: none;
    }
  }

  &_2 {
    margin: 0 20px 20px 10px;
    max-width: 350px;

    // * @media Tablet __________________
    @include media-tablet {
      margin: 0 10px 20px 10px;
    }

    // Todo @media Mobile _______________
    @include media-mobile {
      margin: 10px;
    }
  }
}
.modal-text,
.popup__subtitle {
  // Todo @media Mobile _______________
  @include media-mobile {
    text-align: center;
  }
}

.modal-text {
  color: $color-text-modal-window;
}

.popup__subtitle {
  margin-block-start: 10px;
}

.popup__text {
  margin-block: 40px;
  font-size: 13px;
  line-height: 14px;

  // * @media Tablet __________________
  @include media-tablet {
    margin-block: 20px;
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    text-align: justify;
  }
}

.popup__list {
  @include flex($flex-direction: column);
  row-gap: 10px;
}

.parameter__wrapper {
  @include flex();
}

.popup__parameter {
  position: relative;

  &_1,
  &_2,
  &_3,
  &_4 {
    margin-left: 14px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: -14px;
    top: calc(16px / 2 - 2px);
    transform: translate(-50%);
    background-color: $color-primary;
    border-radius: 100%;
  }
}
