.slider__container {
  @include flex($justify: space-between, $align: center);
  width: 100%;
  margin-block: 60px;

  // Todo @media Mobile _______________
  @include media-mobile {
    flex-direction: column;
    margin-block: 42px;
  }
}

.slider {
  @include flex();
  column-gap: 90px;

  @include media-tablet {
    column-gap: 40px;
  }
}

.slider__slide {
  width: 270px;
  height: 435px;

  @include flex($align: center);
  flex-direction: column;
  background: $color-background-cards;
  border-radius: 10px;
  @include animation();
  cursor: pointer;

  &:hover {
    background: $color-background;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .btn-oval_transparent {
      background: $color-primary-hover;
    }
  }
}
// Main page______________

.slide {
  // * @media Tablet __________________
  @include media-tablet {
    &:nth-child(3) {
      display: none;
    }
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    &:nth-child(2) {
      display: none;
    }
  }
}

// Main page end______________

.slider__btn {
  // Todo @media Mobile _______________
  @include media-mobile {
    &_1 {
      display: none;
    }
    &_2 {
      display: none;
    }
  }
}

.slider-btns__container {
  display: none;

  // Todo @media Mobile _______________
  @include media-mobile {
    @include flex();
    column-gap: 80px;
    margin-block-start: 18px;
  }
}

.slide__img {
  width: 100%;
  border-radius: 10px;
}

.slide__title {
  margin-top: 27px;
}

.slide__btn {
  margin: 30px 0;
}
