$calc-width-table: calc(100vw - (30px * 2));
$calc-width-mobile: calc(100vw - (10px * 2));

.carousel,
.carousel-pets {
  position: relative;
  overflow: hidden;
}

.carousel-pets {
  width: 1200px;

  // * @media Tablet __________________
  @include media-tablet {
    width: auto;
    max-width: $calc-width-table;
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    max-width: $calc-width-mobile;
  }
}

.slider__wrapper,
.slider-pets__wrapper {
  position: relative;
  display: flex;
  @include animation();
}

.slider__wrapper {
  width: 990px;
  left: -990px;

  &.move-left {
    @include animation-keyframes(move-left);
  }
  &.move-right {
    @include animation-keyframes(move-right);
  }

  // * @media Tablet __________________
  @include media-tablet {
    width: 580px;
    left: -580px;

    &.move-left {
      @include animation-keyframes(move-left-table);
    }
    &.move-right {
      @include animation-keyframes(move-right-table);
    }
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    width: 270px;
    left: -270px;

    &.move-left {
      @include animation-keyframes(move-left-mobile);
    }
    &.move-right {
      @include animation-keyframes(move-right-mobile);
    }
  }
}

// .slider-main {
//   width: 990px;

//   // * @media Tablet __________________
//   @include media-tablet {
//     width: 580px;
//   }

//   // Todo @media Mobile _______________
//   @include media-mobile {
//     width: 270px;
//   }
// }

.slider-pets__wrapper {
  left: -1200px;

  &.move-left {
    @include animation-keyframes(move-left-pets);
  }
  &.move-right {
    @include animation-keyframes(move-right-pets);
  }

  // * @media Tablet __________________
  @include media-tablet {
    left: calc(-100vw + (30px * 2));

    &.move-left {
      @include animation-keyframes(move-left-pets-table);
    }
    &.move-right {
      @include animation-keyframes(move-right-pets-table);
    }
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    left: calc(-100vw + (10px * 2));

    &.move-left {
      @include animation-keyframes(move-left-pets-mobile);
    }
    &.move-right {
      @include animation-keyframes(move-right-pets-mobile);
    }
  }
}

.slider-pets {
  width: 1200px;

  // * @media Tablet __________________
  @include media-tablet {
    width: auto;
    min-width: $calc-width-table;
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    min-width: $calc-width-mobile;
  }
}

@keyframes move-right-pets {
  from {
    left: -1200px;
  }
  to {
    left: calc(-1200px * 2);
  }
}

@keyframes move-left-pets {
  from {
    left: -1200px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-right-pets-table {
  from {
    left: calc(-100vw + (30px * 2));
  }
  to {
    left: calc((-100vw + (30px * 2)) * 2);
  }
}

@keyframes move-left-pets-table {
  from {
    left: calc(-100vw + (30px * 2));
  }
  to {
    left: 0px;
  }
}

@keyframes move-right-pets-mobile {
  from {
    left: calc(-100vw + (10px * 2));
  }
  to {
    left: calc((-100vw + (10px * 2)) * 2);
  }
}

@keyframes move-left-pets-mobile {
  from {
    left: calc(-100vw + (10px * 2));
  }
  to {
    left: 0px;
  }
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: calc(-990px * 2);
  }
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-right-table {
  from {
    left: -580px;
  }
  to {
    left: calc(-580px * 2);
  }
}

@keyframes move-left-table {
  from {
    left: -580px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-right-mobile {
  from {
    left: -270px;
  }
  to {
    left: calc(-270px * 2);
  }
}

@keyframes move-left-mobile {
  from {
    left: -270px;
  }
  to {
    left: 0px;
  }
}
