$color-primary: #f1cdb3;
$color-primary-hover: #fddcc4;

$color-titles: #545454;
$color-titles-on-background-dark: #ffffff;

$color-text-on-background: #4c4c4c;
$color-text-italic: #b2b2b2;
$color-text-inactive: #cdcdcd;
$color-text-btn: #292929;
$color-text-modal-window: #000000;

$color-background: #ffffff;
$color-background-start: #5b483a;
$color-background-end: #262425;
$color-background-light: #f6f6f6;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;
