{
  // * https://youtu.be/cbuBXiHeFW0
  // Environment
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "max-len": ["error", 150, { "ignoreUrls": true }],
    "no-alert": "off",
    "prefer-destructuring": "off",
    "no-case-declarations": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off"
  }
}
