@import "base/normalize";

@import "abstracts/constants";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/typography";
@import "base/base";
@import "base/logo";
@import "base/background-colors";
@import "base/links";
@import "base/buttons";
@import "base/icons";
@import "base/burger";

@import "layout/container";
@import "layout/header";
@import "layout/not-only";
@import "layout/about";
@import "layout/our-friends";
@import "layout/help";
@import "layout/in-addition";
@import "layout/footer";

@import "components/navigation";
@import "components/slider";
@import "components/scrollbar";

@import "pages/pets/header-entire";
@import "pages/pets/slider";
@import "pages/pets/burger";
@import "pages/pets/our-friends";
