.header-pets {
  position: fixed;
  top: 0;
  padding-block: 25px 10px;
  width: 100%;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: $color-background-transparent;
}

.block {
  height: 120px;
}

// Logo

.logo-pets__title {
  color: $color-titles;
}

.logo-pets__subtitle {
  color: $color-subtitle-logo-pets;
}

.logo:hover {
  .logo-pets__title,
  .logo-pets__subtitle {
    color: $color-subtitle-logo-pets;
  }
}

.nav-pets {
  @include media-mobile {
    background-color: $color-background-light;
  }
}

// Navigation

.nav__elem {
  &_active {
    .nav-pets__link {
      color: $color-subtitle-logo-pets;
    }
  }

  /*   // Todo @media Mobile _______________
  @include media-mobile {
    &_active {
      .nav-pets__link {
        color: $color-links-hover;
      }
    }
  } */
}

.nav-pets__link {
  color: $color-titles;

  &:hover {
    color: $color-subtitle-logo-pets;
  }

  /*   // Todo @media Mobile _______________
  @include media-mobile {
    color: $color-links;

    &:hover {
      color: $color-links-hover;
    }
  } */
}
