%font-family-1 {
  font-family: $font-family-1;
}

%font-family-2 {
  font-family: $font-family-2;
}

%padding-container {
  padding-block: 80px 100px;
}

%h4-style {
  @extend %font-family-1;
  @include font(2rem, 2.3rem, 0.13rem);
}
