.header-pets {
  position: fixed;
  top: 0;
  padding: 25px 0 10px 0;
  width: 100%;
  z-index: 1000;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: $color-background-transparent;
}

.block {
  height: 120px;
}

// Logo

.logo-pets__title {
  color: $color-titles;
}

.logo-pets__subtitle {
  color: $color-subtitle-logo-pets;
}

.logo:hover {
  .logo-pets__title,
  .logo-pets__subtitle {
    color: $color-subtitle-logo-pets;
  }
}

// Navigation

.nav__elem {
  &_active {
    .nav-pets__link {
      color: $color-subtitle-logo-pets;
    }
  }
}

.nav-pets__link {
  color: $color-titles;

  &:hover {
    color: $color-subtitle-logo-pets;
  }
}
