.slider-pets__container {
  width: 100%;
  margin: 60px 0;
}

.slider-pets {
  @include flex();
  // $justify: space-between
  flex-wrap: wrap;
  gap: 30px calc((100% - (270px * 4)) / 3);

  @media (max-width: 1159px) {
    gap: 30px calc((100% - (270px * 3)) / 2);
  }
}

.btn_container {
  display: flex;
  column-gap: 20px;
}
