.bg-color {
  &_brown {
    background: url("../../assets/images/bg/noise_transparent@2x.png"),
      radial-gradient(
        at left top,
        $color-background-start,
        $color-background-end
      );
  }

  &_white {
    background-color: $color-background;
  }

  &_beige {
    background-color: $color-background-light;
  }
}
