html {
  font-size: 10px;
}

.body {
  @include font(1.5rem, 2.4rem, 0rem);
}

.body,
.text,
.text-italic {
  @extend %font-family-2;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5 {
  @extend %font-family-1;
  cursor: default;
}

h3,
h4,
h5 {
  color: $color-titles;
}

h1 {
  @include font(3.2rem, 3.5rem, 0.06rem);
}

h2 {
  @include font(4.4rem, 5.7rem, 0rem);
}

h3 {
  @include font(3.5rem, 4.5rem, 0.21rem);
}

h4 {
  @include font(2rem, 2.3rem, 0.13rem);
}

h5 {
  @include font(1.5rem, 1.7rem, 0.09rem);
}

.text {
  @include font(1.5rem, 2.4rem, 0rem);
  color: $color-text-on-background;
}

.text-italic {
  @include font(1.2rem, 1.8rem, 0rem, $style: italic);
  color: $color-text-italic;
}
