button {
  @extend %h4-style;
}

.btn-oval,
.btn-oval_transparent {
  display: inline-block;
  padding: 13px 42px;
  border-radius: 26px;
  background: $color-primary;
  border: 2px solid $color-primary;
  cursor: pointer;
  @extend %font-family-1;
  @include font(1.7rem, 2.2rem, 0.1rem);
  @include animation();

  &:hover {
    background: $color-primary-hover;
  }

  &:active {
    transform: scale(0.8);
  }
}

.btn-oval_transparent {
  background: transparent;
}

.btn-round,
.btn-round_transparent {
  position: relative;
  font-size: 2rem;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: $color-primary;
  border: 2px solid $color-primary;
  cursor: pointer;
  @include animation();

  &:hover {
    background: $color-primary-hover;
  }

  &:active {
    transform: scale(0.8);
  }
}

.btn-round_transparent {
  background: transparent;
}

.btn-round:disabled,
.btn-round_transparent:disabled {
  cursor: not-allowed;
  filter: brightness(0) saturate(100%) invert(91%) sepia(8%) saturate(10%)
    hue-rotate(322deg) brightness(93%) contrast(84%);

  &:active {
    transform: scale(1);
  }

  &:hover {
    background: transparent;
  }
}

.btn-round-disabled {
  cursor: default;
  &:active {
    transform: scale(1);
  }

  &:hover {
    background: $color-primary;
    border-color: $color-primary;
  }
}

.arrow-left::before,
.arrow-right::before {
  @include content-before($width: 14px, $height: 6px);
}

.cross::before {
  @include content-before($width: 12px, $height: 12px);
}

.arrow-left::before {
  background: no-repeat url(../../assets/icons/btn/arrow-left.svg);
}

.arrow-right::before {
  background: no-repeat url(../../assets/icons/btn/arrow-right.svg);
}

.cross::before {
  background: no-repeat url(../../assets/icons/btn/cross.svg);
}

.btn__card-num {
  @extend %h4-style;
  @include flex($justify: center);
  column-gap: 15px;
  padding: 10px 15px;
  border-radius: 9px;
  background: $color-primary;
  @include animation();

  &:hover {
    background: $color-primary-hover;
  }

  &:active {
    transform: scale(0.9);
  }
}
