.btn-oval,
.btn-oval_transparent {
  display: inline-block;
  padding: 13px 42px;
  border-radius: 26px;
  background: $color-primary;
  border: 2px solid $color-primary;
  cursor: pointer;
  @extend %font-family-1;
  @include font(1.7rem, 2.2rem, 0.1rem);
  @include animation();
}

.btn-oval_transparent {
  background: transparent;
}

.btn-oval:hover,
.btn-oval_transparent:hover {
  background: $color-primary-hover;
  border-color: $color-primary-hover;
}

.btn-round,
.btn-round_transparent {
  position: relative;
  font-size: 2rem;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: $color-primary;
  border: 2px solid $color-primary;
  cursor: pointer;
  @include animation();
}

.btn-round_transparent {
  background: transparent;
}

.btn-round:hover,
.btn-round_transparent:hover {
  background: $color-primary-hover;
  border-color: $color-primary-hover;
}

.btn-oval:active,
.btn-round:active,
.btn-oval_transparent:active,
.btn-round_transparent:active {
  transform: scale(0.8);
}

.btn-round:disabled,
.btn-round_transparent:disabled {
  filter: brightness(0) saturate(100%) invert(91%) sepia(8%) saturate(10%)
    hue-rotate(322deg) brightness(93%) contrast(84%);
}

.arrow-left::before,
.arrow-right::before {
  @include content-before($width: 14px, $height: 6px);
}

.cross::before {
  @include content-before($width: 12px, $height: 12px);
}

.arrow-left::before {
  background: no-repeat url(../../assets/icons/btn/arrow-left.svg);
}

.arrow-right::before {
  background: no-repeat url(../../assets/icons/btn/arrow-right.svg);
}

.cross::before {
  background: no-repeat url(../../assets/icons/btn/cross.svg);
}

.btn__card-num {
  @extend %font-family-1;
  @include font(2rem, 2.3rem, 0.13rem);
  @include flex($justify: center);
  column-gap: 15px;
  padding: 10px 15px;
  border-radius: 9px;
  background: $color-primary;
  @include animation();

  &:hover {
    background: $color-primary-hover;
  }

  &:active {
    transform: scale(0.9);
  }
}
