.slider__container {
  @include flex($justify: space-between, $align: center);
  width: 100%;
  margin: 60px 0;
}

.slider {
  @include flex();
  column-gap: 90px;
}

.slider__slide {
  @include flex($align: center);
  flex-direction: column;
  background: $color-background-cards;
  border-radius: 10px;
  @include animation();
  cursor: pointer;

  &:hover {
    background: $color-background;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    .btn-oval_transparent {
      background: $color-primary-hover;
    }
  }
}

.slider__slide {
  width: 270px;
  height: 435px;
}

.slide__img {
  width: 100%;
  border-radius: 10px;
}

.slide__title {
  margin-top: 27px;
}

.slide__btn {
  margin: 30px 0;
}
