.about__container {
  @include flex($justify: center, $align: center);
  @extend %padding-container;

  // * @media Tablet __________________
  @include media-tablet {
    flex-direction: column-reverse;
    row-gap: 80px;
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    @include padding-block();
    row-gap: 42px;
  }
}

.about__column {
  &_1 {
    @include flex($justify: center);
    flex: 0.99;
  }

  &_2 {
    flex: 1.01;

    // Todo @media Mobile _______________
    @include media-mobile {
      @include flex($flex-direction: column);
    }
  }
}

.about__img {
  margin-left: 55px;

  // * @media Tablet __________________
  @include media-tablet {
    margin: 0;
  }

  // Todo @media Mobile _______________
  @include media-mobile {
    width: min(81.25vw, 260px);
  }
}

.about__title {
  max-width: 320px;

  // Todo @media Mobile _______________
  @include media-mobile {
    @include font(2.5rem, 3.25rem, 0.16rem);
    max-width: 260px;
    text-align: center;
    align-self: center;
  }
}

.about__text {
  max-width: 430px;
  margin-top: 25px;

  // Todo @media Mobile _______________
  @include media-mobile {
    margin-inline: 15px;
    margin-block-start: 23px;
    text-align: justify;
  }
}
