.container {
  max-width: $content-width;
  margin: 0 auto;
  padding-inline: 40px;

  @include media-tablet {
    padding-inline: 30px;
  }

  @include media-mobile {
    padding-inline: 10px;
  }
}
