.header {
  padding-block: 55px;

  @include media-tablet {
    padding-block-start: 25px;
  }
}

.header__container {
  @include flex($justify: space-between, $align: center);

  @include media-tablet {
    position: relative;
    // justify-content: start;
  }
}

// @include media-tablet {
//   .block {
//     height: 60px;
//     padding-block: 25px 55px;
//   }
// }
