.help__container {
  @extend %padding-container;
  @include flex($align: center, $flex-direction: column);
}

.help__title {
  margin-bottom: 60px;
  text-align: center;
}

.help__list {
  @include flex($justify: center);
  flex-wrap: wrap;
  column-gap: 118.5px;
  row-gap: 55px;
}

.help__item {
  @include flex($align: center, $flex-direction: column);
  @include animation();

  &:hover {
    transform: scale(1.05);
  }
}

.help__text {
  margin-top: 30px;
}
