.logo__burger {
  display: none;
  // TODO @media Mobile __________________
  @include media-mobile {
    position: absolute;
    top: 30px;
    left: 10px;
    display: block;
  }
}

.logo__title {
  color: $color-primary;
  @extend %font-family-1;
  @include font(3.3rem, 3.5rem, 0.13rem);
  margin-bottom: 1rem;
  cursor: pointer;
}

.logo__subtitle {
  @extend %font-family-2;
  @include font(1.3rem, 1.5rem, 0.135rem);
  color: $color-titles-on-background-dark;
  text-align: end;
}

.logo,
.logo__title,
.logo__subtitle {
  @include animation();
}

.logo {
  display: inline-block;

  &:hover {
    transform: scale(1.03);

    .logo__title {
      color: $color-primary-hover;
    }

    .logo__subtitle {
      color: $color-links-hover;
    }
  }
}
